<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Monumentos Históricos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
primeira  
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Cristo Redentor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Cristo Redentor" src="assets/images/cristo.jpg"></ion-img>
      <p>No alto do morro do Corcovado está instalado o Cristo Redentor,
        um dos pontos turísticos mais procurados do Rio de Janeiro.
        Maior e mais famosa escultura Art Déco do mundo,
        a estátua do Cristo Redentor começou a ser planejada
        em 1921 e foi desenvolvida pelo engenheiro Heitor da
        Silva Costa ao longo de cinco anos de trabalho, de 1926 a
        1931, o ano de inauguração do monumento.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>

  <!--
segunda
-->

  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Taj Mahal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Taj Mahal" src="assets/images/taj-mahal.jpg"></ion-img>
      <p>O Taj Mahal é um suntuoso mausoléu localizado na Índia.
        A construção foi eleita patrimônio mundial pela Unesco em 1983
        e também conta na lista das sete maravilhas do mundo moderno, desde 2007.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>

  <!--
  terceira
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Muralhas da China</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Muralhas" src="assets/images/muralhas.jpg"></ion-img>
      <p>A Muralha da China ou Grande Muralha é uma construção que
        tem 21.196 quilômetros de comprimento. Tem a altura de 8 metros
        e mede 4 metros de largura.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>
  <!--
  quarta
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Petra</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Petra" src="assets/images/petra.jpg"></ion-img>
      <p>A "Cidade Rosa", como é chamada devido ao colorido suave de
        suas rochas, estende-se por mais de 8 quilômetros de extensão
        e contém mais de 800 monumentos, incluindo quase 500 tumbas.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>
  <!--
  quinta
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Coliseu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Coliseu" src="assets/images/coliseu.jpg"></ion-img>
      <p>O Coliseu de Roma ou Anfiteatro Flaviano é um grandioso monumento
        histórico e arquitetônico de formato cilíndrico que está localizado
        na capital da Itália: Roma.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>
  <!--
  sexta
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Chichén Itza</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt="Chichen" src="assets/images/chichen.jpg"></ion-img>

      <p>A principal Ruína Maia é a Pirâmide de Chichén Itzá ou El Castillo,
        mas existem outras igualmente importantes como o El Caracol ou Observatório,
        o Templo dos Guerreiros e o Tribunal de Baile Maia.</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>
  <!--
  setima
-->
  <ion-card>
    <ion-card-header>
      <!--<ion-card-subtitle>Cristo Redentor</ion-card-subtitle>-->
      <ion-card-title>Machu Picchu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img alt="Machu_Picchu" src="assets/images/machu-picchu.jpg"></ion-img>
      <p>O Machu Picchu, também chamado de “Cidade Perdida dos Incas”,
        é um sítio arqueológico localizado no Peru. Esse imenso santuário
        é considerado um dos locais mais enigmáticos da América Latina</p>
    </ion-card-content>

    <ion-button expand="block">SAIBA MAIS</ion-button>
  </ion-card>

</ion-content>
